@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	body {
	  width: 100%;
	}
  }

* { 
    box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	padding: 80px;
	min-height: 90vh;
	background: rgb(255,251,241);
	background: linear-gradient(90deg, rgba(255,251,241,1) 0%, rgba(172,208,210,1) 100%);
}

h1{
	font-size: 40px !important;
}
p{
	font-size: 20px !important;
}

.language{
	text-align: right;
	font-size: 13px;
}

.selectLanguage{
	font-family: "Open Sans", sans-serif;
	opacity: 0.8;
}

.container{
	display: flex;
	margin-top: 30px;
	align-items: center;
}

.profileImage{
	margin-top: -250px;
	float: left;
	width: 230px;
	height: 230px;
	background: black;
	border-radius: 50%;
}

.unifeLogo{
	margin-bottom: -15px ;
	margin-left: -10px;
	width: 90px;
	height: 60px;
}

.listaLink{
	display: flex;
	margin-top: 20px;
}

.linkLinkedin{
	width: 40px;
	height: 40px;
}
.linkGithub{
	margin-left: 30px;
	width: 80px;
	height: 40px;
}

.explodeButton{
	margin-top: 100px;
	margin-left: 100px;
}

.explode{
	display: none;
	position: absolute;
	margin-left: 300px;
	margin-top: -200px;
}

.buttonDestroy {
	background-color: white; 
	color: black; 
	border: 1.5px solid black;
	font-size: 16px;
	width: 200px;
}
.buttonDestroy:hover {
	background-color: #f44336;
	color: white;
}

.it{
	display: block;
	margin-top: -40px;
	margin-left: 50px;
	align-items: center;
}
.en{
	display: none;
	margin-top: -40px;
	margin-left: 50px;
	align-items: center;
}