@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@media only screen and (max-width: 900px) {
	body{
		font-size: 20px;
	}
	
	.container{
		min-width: 320px;
		min-height: 700px;
	}
  }
body {
	font-family: "Montserrat", sans-serif;
}

.language{
	float: right;
}

.container{
	display: flex;
	justify-content: center;
}

.it{
	display: block;
}

.en{
	display: none;
}