@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* @media only screen and (max-width: 900px) {
} */

* { 
    box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	padding: 80px;
	min-height: 90vh;
	background: rgb(255,251,241);
	background: linear-gradient(90deg, rgba(255,251,241,1) 0%, rgba(172,208,210,1) 100%);
}

h1{
	font-size: 40px !important;
}
p{
	font-size: 20px !important;
}

.language{
	text-align: right;
	font-size: 13px;
}

.selectLanguage{
	font-family: "Open Sans", sans-serif;
	opacity: 0.8;
}

.container{
	display: flex;
	margin-top: 30px;
	align-items: center;
}

.profileImage{
	float: left;
	width: 230px;
	height: 230px;
	background: black;
	border-radius: 50%;
}

.unifeLogo{
	margin-bottom: -15px ;
	margin-left: -10px;
	width: 90px;
	height: 60px;
}

.it{
	display: block;
	margin-top: -40px;
	margin-left: 50px;
	align-items: center;
}
.en{
	display: none;
	margin-top: -40px;
	margin-left: 50px;
	align-items: center;
}